/* titulo */
.header {
  color: black;
  justify-content: center;
  display: flex;
  background-color: rgb(93, 93, 180);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
/*menu com os dias(sexta,sabádo e domingo) */
.nav {
  list-style: none;
  justify-content: space-between;
  display: flex;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: blue;
}
/*div com imagens, irei deixar uma borda para ficar um pouoo mais organizado*/
.div {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
