/* Início do css de Página principal*/
.fundo {
  background-color: hsl(209, 59%, 41%);
  padding: 30px;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  font-size: 40px;
  display: block;
}

.menu1 {
  background-color: rgb(6, 86, 233);
  padding: 25px;
}

.fixo {
  position: fixed;
}

.menu2 {
  display: flex;
  list-style: none;
  justify-content: center;
  color: aliceblue;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 8px;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
}

.footer {
  background-color: hsl(209, 59%, 41%);
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 6px;
}
footer {
  background-color: cadetblue;
  color: aliceblue;
}

.letrasfooter {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  text-decoration: none;
}
.sembolinha {
  /*Para tirar bolinhas que ficam nas listas*/
  list-style: none;
}

.fundocolor {
  background-color: rgb(255, 255, 255);
}

.imagem {
  width: 400px;
  height: 400px;
  padding: 15px;
  display: inline-block;
  justify-content: center;

  
}
.centralizar{
  display: flex;
  justify-content: center;
}

.textos {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  color: hsl(209, 77%, 28%);
  width: 100%;
  padding-top: 10px;
}
.roteiro {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: center;
}

.img {
  width: 100px;
  height: 100px;
  padding-right: 30px;
  display: flex;
}

.lado {
  text-align: center;
}

.carrosel{
  padding-top: 40px;
  display: flex;
}

/*Fim do css de Página principal*/

/* Início do css de encontreiros*/

.basefundo {
  background-color: rgb(255, 255, 255);
}

.menuencontreiros {
  display: flex;
  list-style: none;
  color: aliceblue;
  list-style: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 8px;
  justify-content: space-between;
  text-decoration: none;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.semlinha {
  text-decoration: none;
  list-style: none;
  color: #ffff;
}
.ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
/* rodape, irei deixar ele na horizontal*/
.rodape_informacoes_de_contato {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/*Fim do css de encontreiros*/

/* Início do css de encontristas*/

/*Fim do css de encontristas*/

.diplay {
  display: flex;
}

a{
  text-decoration: none;
  color: #ffff;
  
}
