body {
    background-color: #b3cde0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input[type="file"] {
    padding: 10px;
    display: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.container_botão {
    text-align: center;
    margin-top: 50px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}

.button:hover {
    background-color: silver;
}