body {
    background-color: #b3cde0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: black;
    text-align: center;
    margin-bottom: 0; 
}

p {
    text-align: center;
    color: black; 
    margin-top: 0; 
}



